/*Main styling */
.mainfield {
	width: 900px;
	height: 900px;
	border: 1px solid black;
	margin: auto;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
}

.gamefield {
	border: 1px solid red;
	margin: 0 0px -3px 0px;

}

.maintence {
	position: absolute;
	top: 50px;
	left: 50px;
	border: 1px solid black;
	padding: 5px;
}

#go, #repeat, #stop, #nonstop, #random {

}

#repeat, #buds {
	border: 1px solid black;
}


